ion-content {
    --background: #f4f4f4;

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding: 15px;

        form {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;

            ion-item {
                margin: 16px 0;
                border-radius: 10px;
                --border-width: 0 !important;

                ion-label {
                    color: #333;
                }

                ion-input {
                    background: none;
                    outline: none;
                    -webkit-appearance: none;
                    box-shadow: none !important;
                    --border: none !important;
                    --border-width: 0 !important;
                    --border-radius: 10px;
                }

                ion-icon {
                    position: absolute;
                    right: 5px;
                    top: 20px;
                    font-size: 24px;
                    cursor: pointer;
                }

                .custom,
                .custom:focus {
                    background: none;
                    outline: none;
                    -webkit-appearance: none;
                    box-shadow: none !important;
                    border: none !important;
                    --border-width: 0 !important;
                }

            }
        }

        .customBtn {
            width: 100%;
            margin: 16px 0;
            --background: #008b8b !important;
            color: white;
            height: 50px;
        }
        .plainBtn {
            color: #008b8b;
        }

    }
}




.text{
   
    line-break: loose;
    font-weight: 100;
    color:#585959;
    font-style: normal;
    font-weight: 300;
    margin:20px 0;
}
.content{
    padding: 15px;
    line-break: loose;
    font-weight: 100;
}

.imgs{
    margin-top: 35px;
    height:200px;
    width:300px
}