<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forget-password</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-content>

  <div class="login-container">
    <img class="imgs" src="../../../assets/images/undraw_forgot_password_re_hxwm (1).svg" />
    <ion-text class="content">
      <h1>Forgot Password? </h1>
      <ion-text color="medium" > <div class="text">Don't worry! It happens.Please enter the email address associated with your account</div> </ion-text>
    </ion-text>
    <form>
      <ion-item>
        <ion-input type="email" class="custom" class="formControl" placeholder="Email Address" #userEmail required class="input-field"></ion-input>
      </ion-item>

     

      <ion-button class="customBtn" expand="block" shape="round" (click)=" authService.ForgotPassword(userEmail.value)"
      (click)="navigateToReset()">Submit
      </ion-button>
    </form>
      <ion-button fill="clear" class="plainBtn" (click)="signIn()">Back to Sign in</ion-button>
  
  </div>
</ion-content>
