<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">verify-email</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-content>
  
  <ng-container >
    
  </ng-container>
  <div class="container">
    <img class="imgs" src="../../../assets/images/undraw_two_factor_authentication_namy.svg" />
  
    <div class="text" *ngIf="authService.userData as user">
      <p class="text-center">
        We have sent a confirmation email to <strong class="mail">{{ user.email }}</strong>.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verfiy your email
        address.
      </p>
    </div>
    <div>
    
      <input
        type="button"
        (click)="authService.SendVerificationMail()"
        class="form__button"
        value="Resend Verification Email"
      />
    </div>
    <a href="/login-form">Go back to? Login</a>
  </div>
  </ion-content>

